# Dependency directories
./test-app/node_modules/*
./test-app/package-lock.json
./electron-communication/node_modules/*
./electron-communication/package-lock.json
./electron-communication/package.json

# Extra testing directories
./ros2-test

# Extra Stuff
./vscode/
