/* ------------------------------------------------------------------------------------- */
/* -- Toplevel Stuff -- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    margin: 0;
    
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    height: 100%;
    width: 98%; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

/* ------------------------------------------------------------------------------------- */
/* -- Individual Corner Stuff -- */
.corner {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border: 0.5px solid #d6d4d4;
    padding: 15px;
}

.top-left { grid-row: 1 / 2; grid-column: 1 / 2; background-color: #74cbf0; }
.top-right { grid-row: 1 / 2; grid-column: 2 / 3; background-color: #74cbf0; }
.bottom-left { grid-row: 2 / 3; grid-column: 1 / 2; background-color: #74cbf0; }
.bottom-right { grid-row: 2 / 3; grid-column: 2 / 3; background-color: #74cbf0; }

/* ------------------------------------------------------------------------------------- */
/* -- General Format Stuff -- */
.header {
    font-size: clamp(23px, 2vw, 50px);
    font-weight: bold;
    /* background: #eddc98; */
}

.text {
    font-size: clamp(23px, 2vw, 50px);
}
 
/* ------------------------------------------------------------------------------------- */
/* -- Light Corner Stuff -- */
.light-row-0 {
    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;
    
    width: 50%;
    height: 100%
}

.light-row-1 {
    display: flex;
    gap: 10px;
    
    width: 100%;
    height: 100%
}

.light-row-2 {
    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;
   
    width: 75%;
    height: 100%
}

/* ------------------------------------------------------------------------------------- */
/* -- Button Stuff -- */
button {
    flex: 1; /* Makes each button take equal space */
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;

    font-size: clamp(23px, 2vw, 45px);
    color: white;

    cursor: pointer;
    transition: 0.2s ease;
}

button[data-action="LIGHT_FLASHING"] { background: #ffcc00; }
button[data-action="LIGHT_STEADY"] { background: #4CAF50; }
button[data-action="LIGHT_OFF"] { background: #f44a4a; }

button[data-action="LIDAR_ON"] { background: #9db7ed; }
button[data-action="LIDAR_OFF"] { background: #0c2e77;}
button[data-action="BRAKE_ON"] { background: #e60000; }
button[data-action="BRAKE_OFF"] { background: #e38585; }

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}