/* ------------------------------------------------------------------------------------- */
/* -- Toplevel Stuff -- */
html,
body {
    margin: 0;
    height: 100%;

    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------------------- */
/* -- Full Grid Stuff -- */
.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: repeat(2, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.grid-top-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-bottom-row {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    border: 1px solid #d6d4d4;
}

.top-left {gap: 0%; padding: 2%; background-color: #74cbf0;} /* Vertical gap between grid rows*/
.top-right { gap: 5%; padding: 2%; background-color: #74cbf0;}
.bottom-left { gap: 0%; padding: 1% 1%; background-color: #74cbf0;}
.bottom-right { gap: 5%; padding: 2%; background-color: #74cbf0;}

/* ------------------------------------------------------------------------------------- */
/* -- Text Format Stuff -- */
.header {
    font-weight: bold;
}

.fit-text {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 10px;
}

.text-color-black {
    color: rgb(0, 0, 0); 
}

.text-color-white {
    color: rgb(255, 255, 255); 
}

/* ------------------------------------------------------------------------------------- */
/* -- Status Corner Stuff -- */
.status-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 0.25fr));
    height: 100%;
    width: 100%;
    background-color: #9c86e4;
    
}

.status-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1.5px solid #d6d4d4;
}

.another-grid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 32%;
    /* border: 1px solid red; */
    margin-bottom: 1%;
}

/* ------------------------------------------------------------------------------------- */
/* -- Light Corner Stuff -- */
.light-row-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;

    width: 70%;
    height: 85%;
}

.light-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

    gap: 4%;

    width: 100%;
    height: 100%
}

/* ------------------------------------------------------------------------------------- */
/* -- Brake Corner Stuff -- */
.button-row-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

    gap: 3%;

    width: 100%;
    height: 100%;
}

.button-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */ /* No overflow for button scaling*/
    
    gap: 4%; /* Gap between row items */
    /* padding: 10px; */

    width: 90%;
    height: 85%
}

/* ------------------------------------------------------------------------------------- */
/* -- Button Stuff -- */
.app-button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    transition: transform 0.1s ease;
    border: 2.5px solid #ffffff;
}

button[data-action="LIGHT_FLASHING"] { background: #ffcc00; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="LIGHT_STEADY"] { background: #4CAF50; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="LIGHT_OFF"] { background: #f44a4a; width: 100%; height: 100%; border-radius: 25px;}

button[data-action="SELFDRIVE_FULL"] { background: #79e2d1; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="SELFDRIVE_JOYSTICK"] { background: #08bda2; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="SELFDRIVE_OFF"] { background: #06816e; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="LIDAR_ON"] { background: #96b7ff; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="LIDAR_OFF"] { background: #2861be; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="BRAKE_ON"] { background: #e60000; width: 100%; height: 100%; border-radius: 25px;}
button[data-action="BRAKE_OFF"] { background: #e38585; width: 100%; height: 100%; border-radius: 25px;}

.app-button.pressed {
    transform: scale(1.05);
    opacity: 0.8;
    /* border: 3px solid #ffffff; */
}

/* ------------------------------------------------------------------------------------- */
/* -- Image Stuff -- */
.image {
    width: 100%;
    height: 100%;
}

.image-flex {
    display: inline-block;
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 3px solid #4b4a4a;
}

.floor-button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button[data-action="ROOM_429"] {width: 5.1%; height: 9%; left: 6%; top: 48.5%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
button[data-action="ROOM_423"] {width: 5.1%; height: 9%; left: 24%; top: 48.5%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
button[data-action="ROOM_419"] {width: 5.1%; height: 9%; left: 39%; top: 48.5%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}

button[data-action="ROOM_428"] {width: 5%; height: 8%; left: 9.6%; top: 73.6%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
button[data-action="ROOM_424"] {width: 5.1%; height: 8%; left: 23.5%; top: 73.6%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
button[data-action="ROOM_420"] {width: 5.1%; height: 8%; left: 38%; top: 73.6%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
button[data-action="ROOM_414"] {width: 7%; height: 8%; left: 55.5%; top: 73.6%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}

button[data-action="ROOM_400"] {width: 5.1%; height: 9%; left: 61.5%; top: 43%; border: 2.5px solid #000000; border-radius: 35%; position: absolute;}
