/* ------------------------------------------------------------------------------------- */
/* -- Toplevel Stuff -- */
html,
body {
    margin: 0;
    height: 100%;

    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------------------- */
/* -- Full Grid Stuff -- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    background-color: #74cbf0;
    border: 1px solid #d6d4d4;
    padding: 15px; /* Gaps above and below grid contents*/
}

.top-left {gap: 0%; } /* Vertical gap between grid rows*/
.top-right { gap: 8%; }
.bottom-left { gap: 10%; }
.bottom-right { gap: 8%; }

/* ------------------------------------------------------------------------------------- */
/* -- Text Format Stuff -- */
.header {
    font-weight: bold;
    /* border: 1px solid rgb(255, 255, 255); */
}

.fit-text {
    text-align: 
    center;
    font-size: 10px;
    color: rgb(255, 255, 255); 
    font-family: Arial, sans-serif;
}
/* ------------------------------------------------------------------------------------- */
/* -- Light Corner Stuff -- */
.light-row-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;

    width: 70%;
    height: 100%;
}

.light-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

    gap: 3%;

    width: 100%;
    height: 90%
}

.light-row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;

    width: 75%;
    height: 100%
}

/* ------------------------------------------------------------------------------------- */
/* -- Brake Corner Stuff -- */
.brake-row-0 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    border: 1px solid rgb(255, 255, 255);
    background: #d2b542;

    width: 70%;
    height: 80%;

    /* font-size: 3.8vw; */
}

.brake-row-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */ /* No overflow for button scaling*/
    
    gap: 4%; /* Gap between row items */
    /* padding: 10px; */

    width: 95%;
    height: 100%
}

/* ------------------------------------------------------------------------------------- */
/* -- Button Stuff -- */
.app-button {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    width: 100%;
    height: 100%;

    transition: transform 0.1s ease;
    border: 2.5px solid #ffffff;
}

button[data-action="LIGHT_FLASHING"] { background: #ffcc00; border-radius: 27%;}
button[data-action="LIGHT_STEADY"] { background: #4CAF50; border-radius: 27%;}
button[data-action="LIGHT_OFF"] { background: #f44a4a; border-radius: 27%;}

button[data-action="LIDAR_ON"] { background: #9db7ed; border-radius: 25px;}
button[data-action="LIDAR_OFF"] { background: #0c2e77; border-radius: 25px;}
button[data-action="BRAKE_ON"] { background: #e60000; border-radius: 25px;}
button[data-action="BRAKE_OFF"] { background: #e38585; border-radius: 25px;}

.app-button.pressed {
    transform: scale(1.05);
    opacity: 0.8;
    border: 3px solid #ffffff;
}